@import "~taro-ui/dist/style/components/icon.scss";

.PersonalizedList{
    padding: 10Px;
    .cell-SongSheet{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}