.Recommend{
    image {
        width: 100%;
        height: 200Px;
    }
    swiper {
        height: 200Px;
    }
    .cell-title{
        font-size: 32px;
        margin-top: 30px;
        padding: 0 15Px;
    }
    .cell-SongSheet{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 8Px;
    }
}
