@import "~taro-ui/dist/style/components/slider.scss";

@keyframes rotate {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
.Song{
    .bgBlank{
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        z-index: -1;
        background-color: rgba(0, 0, 0, .3);
    }
    .bg{
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background-size:cover!important;
        background-position:bottom center;
        -webkit-filter:blur(40Px);
        z-index: -2;
    }
    .info{
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        text-align: center;
        height: 78Px;
        box-sizing:border-box;
    }
    .info text{
        font-size: 40px;
        color: #fff;
    }
    .info view{
        color: #fff;
        opacity: 0.6;
    }
    .img-box{
        height: calc(100vh - 213Px - 78Px);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-box image{
        display: block;
        width: 500px;
        border-radius: 50%;
    }
    .btn-box{
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .switch{
        width: 100px;
        height: 100px;
    }
    .prev{
        width: 150px;
        height: 150px;
    }
    .play{
        width: 170px;
        height: 170px;
    }
    .next{
        width: 150px;
        height: 150px;
     }
    .see{
        width: 75px;
        height: 75px;
    }
    .range-box{
        display: flex;
        align-items: center;
        padding: 0 15Px;
        color:rgba(255,255,255,.5);
    }
    .rotate{
        animation: rotate 25s linear infinite;
    }
    .paused{
        animation-play-state:paused;
    }
    at-slider{
        flex: 1;
    }
}

.Lyric {
    height: 90pX;
    overflow: hidden;
    text-align: center;
    color: #fff;
    .content {
        position: relative;
        animation: bottom 0.2s ease-out;
    }
    .Lyric_item {
        min-height: 28Px;
        line-height: 28pX;
        font-size: 14Px;
    }
    .Lyric_item.active{
        font-size: 16Px;
        color: #31c27c;
    }
}
.footer {
    height: 213Px;
    box-sizing:border-box;
}